apiVersion: 1

providers:
  - name: crawler-monitoring
    orgId: 1
    folder: Crawler
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
