WEB_DB_HOST={{ crawler_web_db_host }}
WEB_DB_PORT={{ crawler_web_db_port }}
WEB_DB_NAME={{ crawler_web_db_name }}
WEB_DB_USER={{ crawler_web_db_user }}
WEB_DB_PASSWORD={{ crawler_web_db_password }}
WEB_S3_EXPORTS_BUCKET={{ crawler_s3_exports_bucket }}
AWS_DEFAULT_REGION={{ crawler_aws_region }}
