WEB_DB_HOST={{ crawler_web_db_host }}
WEB_DB_PORT={{ crawler_web_db_port }}
WEB_DB_NAME={{ crawler_web_db_name }}
WEB_DB_USER={{ crawler_web_db_user }}
WEB_DB_PASSWORD={{ crawler_web_db_password }}
WEB_S3_EXPORTS_BUCKET={{ crawler_s3_exports_bucket }}
AWS_DEFAULT_REGION={{ crawler_aws_region }}
CRAWLER_AWS_REGION={{ crawler_aws_region }}
CRAWLER_SQS_QUEUE_URL={{ crawler_sqs_queue_url }}
CRAWLER_S3_RAW_BUCKET={{ crawler_s3_raw_bucket }}
CRAWLER_CLAIM_CHECK_THRESHOLD_BYTES={{ crawler_claim_check_threshold_bytes }}
CRAWLER_MAX_ITEMS_PER_SOURCE={{ crawler_max_items_per_source }}
